@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bgImg { 
    width: 100%;
    height: auto;
    left: 0px;
    top: 0px;
    z-index: -1;
    opacity: 0.75;
}

.login-form { 
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
 }
.login-form h1 {
    font-family: 'Sunflower', sans-serif;
    text-align: center;
    color: beige;
}

.int-area {
    position: relative;
    margin-bottom: 10px;
}

.int-area input {
    position: static;
    width: 95%;
    padding: 10px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(198, 253, 232);
    font-size: 18px;
}
.int-area label {
    position: absolute;
    left: 10px;
    top: 11px;
    color: rgb(37, 63, 52);
    font-size: 19px;
    transition: all .5s ease;
}

.int-area input:focus + label,
.int-area input:valid + label {
    top: 0;
    font-size: 13px;
}

.login-form .btn-login {
    width: 95%;
    height: 37px;
    border: none;
    border-radius: 20px;
    background-color: rgba(220, 220, 220, 0.733);
    color: #fff;
    font-weight: bold;
    transition: all 0.5s;
}
.login-form .btn-login.on { background-color: #B4B4FF; }

#hint {
    margin-top: 10px;
}

@media (max-width: 768px) {
    #bgImg { 
        background-size:cover;
        background-position: 50% 0 50%  0;
        left: 0px;
        top: 0px;
        z-index: -1;
        opacity: 0.75;
    }

    .login-form {
        margin-top: auto;
        margin-bottom: auto;
    }.login-form h1 {
        font-size: 50px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
    }
    
    .int-area {
        width: 450px;
    } .int-area label {
        font-size: 28px;
        font-weight: lighter;
    } .int-area input {
        font-size: 33px;
        font-weight: lighter;
    }
    .int-area input:focus + label,
    .int-area input:valid + label {
        top: 0;
        font-size: 15px;
    }

    .login-form .btn-login {
        width: 435px;
        height: 50px;
    }
}
